/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html[lang="ru"] .page[lang="ru"] {
    display: block;
}

html[lang="ru"] .page[lang="az"] {
    display: none;
}

html[lang="az"] .page[lang="ru"] {
    display: none;
}

html[lang="az"] .page[lang="az"] {
    display: block;
}

html {
    height: 100%;
    width: 100%;
    min-height: 840px;
}

body {
    background-color: #4395c5;
    color: #fff;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 32px;
    min-height: 100%;
    position: relative;
}

body:after {
    content: ".";
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    position: absolute;
    width: 414px;
    height: 300px;
    top: 241px;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: 3;
    margin: 0 0 0 65px;
    pointer-events: none;
    background: url("../images/fingers.png") 0 0 no-repeat;
}

body:before {
    content: ".";
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: -1;
    pointer-events: none;
    background: #4395c5 url("../images/iphone.png") 44px 68px no-repeat;
}

body header {
    position: absolute;
    width: 896px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

body header nav.language {
    position: absolute;
    width: 69px;
    height: 26px;
    background-color: #2d76a0;
    border-radius: 16px;
    top: 87px;
    left: 206px;
    font-size: 0;
    line-height: 26px;
    padding: 4px;
    z-index: 5;
}

body header nav.language .slider {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 26px;
    left: 43px;
    top: 4px;
    border-radius: 12px;
    background-color: #52a5d6;
    -webkit-transition: left 0.25s;
            transition: left 0.25s;
}

body header nav.language a {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    width: 30px;
    height: 26px;
    line-height: 26px;
    color: #52a5d6;
    font-size: 11px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    float: right;
    -webkit-transition: color 0.25s;
            transition: color 0.25s;
}

body header nav.language a.selected {
    pointer-events: none;
    cursor: default;
    color: #206186;
    font-weight: bold;
}

body header nav.language a:first-child {
    float: left;
}

body header nav.language a:first-child.selected~.slider {
    left: 4px;
}

body header .logotype {
    text-indent: -9999px;
    width: 200px;
    height: 50px;
    background: url("../images/logotype.png") 0 0 no-repeat;
    position: absolute;
    left: 2px;
    top: 78px;
}

body .page {
    width: 464px;
    margin: auto;
    padding: 156px 416px 0 16px;
    position: relative;
}

body .page .show-rules {
    margin: 20px 0;
    color: #a7edff;
    font-size: 12px;
    text-decoration: none;
}

body .page .show-rules:hover {
    text-decoration: underline;
}

body .page .rules {
    display: none;
    z-index: 10;
    position: fixed;
    background-color: #3a8bba;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    max-width: 1000px;
    max-height: 780px;
    padding: 40px 80px 40px 40px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 32px;
    color: rgba(255,255,255,0.8);
}

body .page .rules .message {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 40px;
    right: 0;
    padding: 0 80px 0 40px;
    overflow: auto;
}

body .page .rules .title {
    color: #fff;
    font-size: 32px;
    line-height: 48px;
}

body .page .rules .close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 36px;
    right: 40px;
    background: url("../images/close.png") 50% 50% no-repeat;
    cursor: pointer;
    z-index: 10;
}

body .page .ok-message {
    z-index: 2;
    display: none;
    position: absolute;
    width: 288px;
    height: 512px;
    background-color: #fff;
    top: 145px;
    left: 50%;
    margin-left: 130px;
    background: url("../images/done.png") 50% 410px no-repeat, -webkit-linear-gradient(top, #1a5774 0%, #ccb27f 100%);
    background: url("../images/done.png") 50% 410px no-repeat, linear-gradient(to bottom, #1a5774 0%, #ccb27f 100%);
    line-height: 375px;
}

body .page .ok-message .ok-message-text {
    margin: 0 25px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}

body .page .ok-message .ok-message-title {
    height: 42px;
    background: url("../images/interface.png") 50% 5px no-repeat;
    font-size: 16px;
    line-height: 36px;
    padding: 20px 16px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    font-weight: normal;
}

body .page .register-form {
    z-index: 1;
    position: absolute;
    width: 288px;
    height: 512px;
    background-color: #fff;
    top: 145px;
    left: 50%;
    margin-left: 130px;
    background: -webkit-linear-gradient(top, #1a5774 0%, #ccb27f 100%);
    background: linear-gradient(to bottom, #1a5774 0%, #ccb27f 100%);
}

body .page .register-form .time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    font-family: monospace;
    color: #fff;
    text-align: center;
}

body .page .register-form .register-form-title {
    height: 42px;
    background: url("../images/interface.png") 50% 5px no-repeat;
    font-size: 16px;
    line-height: 36px;
    padding: 20px 16px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    font-weight: normal;
}

body .page .register-form nav button {
    margin: auto;
    position: absolute;
    bottom: 39px;
    left: 0;
    right: 0;
    height: 48px;
    border-radius: 5px;
    background: #29824c;
    text-align: center;
    padding: 0;
    font-size: 16px;
    line-height: 48px;
    border-style: none;
    color: #fff;
    width: 209px;
    cursor: pointer;
}

body .page .register-form nav button:hover {
    background-color: #21683d;
}

body .page .register-form fieldset {
    padding: 41px 25px 0;
    font-size: 0;
}

body .page .register-form fieldset .code {
    display: inline-block;
    vertical-align: bottom;
    width: 70px;
    padding: 31px 0 0;
    height: 32px;
    position: relative;
    border-bottom: 1px solid #b7b7b7;
    font-size: 12px;
    z-index: 50;
}

body .page .register-form fieldset .code.changed .list,
body .page .register-form fieldset .code.changed:hover .list {
    display: none;
}

body .page .register-form fieldset .code .current {
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    position: relative;
}

body .page .register-form fieldset .code .current:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color: #fff transparent transparent;
    border-width: 5px 5px 0;
    border-style: solid;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -1px;
}

body .page .register-form fieldset .code:hover .list {
    display: block;
}

body .page .register-form fieldset .code .list {
    display: none;
    position: absolute;
    top: 100%;
    left: -16px;
    background-color: #fff;
    width: 270px;
    color: #333;
    overflow: auto;
    max-height: 128px;
}

body .page .register-form fieldset .code .list b {
    padding: 0 0 0 16px;
    float: left;
    color: #999;
}

body .page .register-form fieldset .code .list span {
    padding: 0 32px 0 0;
    float: right;
}

body .page .register-form fieldset .code .list input:checked+label {
    background-color: #bddaeb;
}

body .page .register-form fieldset .code .list input:checked+label b {
    color: #333;
}

body .page .register-form fieldset .code .list label {
    clear: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

body .page .register-form fieldset .code .list label:hover {
    background-color: #d9eaf3;
}

body .page .register-form fieldset .code .list input {
    position: absolute;
    left: -2000px;
    opacity: 0;
}

body .page .register-form fieldset .code .list label {
    padding: 0;
    border-style: none;
}

body .page .register-form fieldset label {
    display: block;
    padding: 31px 0 0;
    border-bottom: 1px solid #b7b7b7;
}

body .page .register-form fieldset label.tel {
    display: inline-block;
    vertical-align: bottom;
    width: 168px;
}

body .page .register-form fieldset label.error input {
    color: #cb1313;
    background: url("../images/error.png") 100% 50% no-repeat;
}

body .page .register-form fieldset label.error input::-webkit-input-placeholder {
    color: #cb1313;
}

body .page .register-form fieldset label.error input:-moz-placeholder {
    color: #cb1313;
}

body .page .register-form fieldset label.error input::-moz-placeholder {
    color: #cb1313;
}

body .page .register-form fieldset label.error input:-ms-input-placeholder {
    color: #cb1313;
}

body .page .register-form fieldset input {
    outline: none;
    background: none;
    margin: 0;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    border-style: none;
    width: 100%;
    color: #fff;
    padding: 0 38px 0 0;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body .page .register-form fieldset input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
}

body .page .register-form fieldset input:-moz-placeholder {
    color: rgba(255,255,255,0.6);
}

body .page .register-form fieldset input::-moz-placeholder {
    color: rgba(255,255,255,0.6);
}

body .page .register-form fieldset input:-ms-input-placeholder {
    color: rgba(255,255,255,0.6);
}

body .page .register-form fieldset input.code {
    height: 28px;
    line-height: 28px;
    padding: 0;
}

body .page .register-form.validation-start input:invalid {
    color: #cb1313;
    background: url("../images/error.png") 100% 50% no-repeat;
}

body .page .register-form.validation-start input:invalid::-webkit-input-placeholder {
    color: #cb1313;
}

body .page .register-form.validation-start input:invalid:-moz-placeholder {
    color: #cb1313;
}

body .page .register-form.validation-start input:invalid::-moz-placeholder {
    color: #cb1313;
}

body .page .register-form.validation-start input:invalid:-ms-input-placeholder {
    color: #cb1313;
}

body .page .register-form.validation-start input:invalid.code {
    background: none;
}

body .page .title {
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 32px;
    font-weight: normal;
}

body .page p {
    margin: 0 0 32px;
}

body .page a {
    text-decoration: underline;
    color: inherit;
}

body .page a:hover {
    text-decoration: none;
}

body .page .fb-like {
    margin: 20px 0;
    text-decoration: none;
    display: inline-block;
    height: 64px;
    line-height: 64px;
    padding: 0 80px 0 30px;
    background: #247bae url("../images/fb-like.png") 100% 0 no-repeat;
}

body .page .fb-like:hover {
    background-color: #186fa2;
    background-position: 100% -64px;
}

@media screen and (max-width: 970px) {
    html body .time {
        display: none;
    }

    html body:after,
  html body:before {
        display: none;
        background: none;
    }

    html body header {
        width: auto;
        position: relative;
    }

    html body .page {
        width: auto;
        padding: 156px 25px 25px;
    }

    html body .page .ok-message,
  html body .page .register-form {
        width: auto;
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
        top: auto;
        margin: 48px auto;
        background: none;
        line-height: inherit;
        height: auto;
    }

    html body .page .ok-message button,
  html body .page .register-form button {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        margin: 20px 0 0;
    }

    html body .page .ok-message .register-form-title,
  html body .page .register-form .register-form-title,
  html body .page .ok-message .ok-message-title,
  html body .page .register-form .ok-message-title {
        background: none;
        text-align: left;
        width: auto;
        padding: 0;
        font-size: 32px;
        line-height: 48px;
        margin: 0 0 32px;
        font-weight: normal;
    }

    html body .page .ok-message .ok-message-text,
  html body .page .register-form .ok-message-text {
        padding: 0;
        margin: 0;
        text-align: left;
    }

    html body .page .ok-message .ok-message-text p,
  html body .page .register-form .ok-message-text p {
        margin: 0 0 32px;
        font-size: 17px;
        line-height: 32px;
    }

    html body .page .ok-message fieldset,
  html body .page .register-form fieldset {
        font-size: 0;
        padding: 0;
        margin: 0 0 32px;
    }

    html body .page .ok-message .code,
  html body .page .register-form .code {
        width: 20%;
        border-bottom: 1px solid #fff;
    }

    html body .page .ok-message label,
  html body .page .register-form label {
        border-bottom-color: #fff;
    }

    html body .page .ok-message label.tel,
  html body .page .register-form label.tel {
        width: 80%;
    }

    html body .page .ok-message label input,
  html body .page .register-form label input {
        width: 100%;
    }
}
